<%- include('includes/header') %>
<html>
    <head>
        <style>
        .container 
        {
            color:#ffffff;
            height:500px;
            width:1000px;
            border:1px 1px solid black;
            background: rgba(0, 0, 0, 0.1);
            margin-left:50px;
            text-align: center;
        }
        .container h1{
            font-family: 'Times New Roman', Times, serif;
            color:lightyellow;
        }
        .container p{
            font-size:25px;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>About MobileStore</h1>
            <p>
                    At Mobile Store Online we are more than just a mobile phone repair shop. We are the UK’s leading mobile repair shop that offers the best deals on all repairs to our customers. We have been providing mobile phone repair services for more than two decades. Extensive experience and highly trained experts provide you top-notch repairing services at affordable rates, guaranteed! Mobile Store has a tremendous history of repairing broken and damaged mobile phones in less than an hour. If you have a broken device and need immediate affordable repair service, we can assist you! Our experts can repair cracked screens, front glass, damaged buttons, faulty charging ports and everything in between!      
            </p>
        </div>
    <body>
</html>