<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
      body{
        background-image: url("../../images/2.jpg");
    
        background-attachment:fixed;
    background-size:cover;
    font-family:new time roman;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
         
        
      }
      .maain h5
      {
        color:white;
        font-size:50px;
        font-family:cursive;

      }
     .maain p
      {
        color:linen;
        font-size:20px;
        font-family: italic;
        
      }

      .maain form
      {
        color:white;
        font-size: 25px;
        font-family:normal;
      }

      .para
      {
        color:white;
      }

      .main
      {
        height:100%;
        width:50;
       
      }
      .row
      {
        padding:50px;
      }
     
    </style>

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link " href="/contact" tabindex="-1">Contact</a>
          </li>
          </ul>
          <ul class="navbar-nav mr-right">
            <p class="para">Welcome <mark><span><%=title%></span></mark></h1>
            </li>
           
          </ul>
        </div>
        </nav>
        <h1 style="color:white; text-align: center;">Latest Mobile</h1>
          <div class="main">
              <div class="row">
                  <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                          <img src="../../images/3.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">IPhone</h5>
                            <p class="card-text">Price:$840</p>
                            <a href="#" class="btn btn-primary">Add </a>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                          <img src="../../images/4.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Honor</h5>
                            <p class="card-text">Price:$100</p>
                            <a href="#" class="btn btn-primary">Add</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                          <img src="../../images/5.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Iphone series</h5>
                            <p class="card-text">Price:$400</p>
                            <a href="#" class="btn btn-primary">Add</a>
                          </div>
                        </div>
                  </div>


                  <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                          <img src="../../images/6.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Phonix</h5>
                            <p class="card-text">Price:$20</p>
                            <a href="#" class="btn btn-primary">Add</a>
                          </div>
                        </div>
                  </div>
              </div><!--row-->
<br><br>

              <div class="row">
                  <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                          <img src="../../images/7.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Iphone 11</h5>
                            <p class="card-text">price:$500</p>
                            <a href="#" class="btn btn-primary">Add</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                          <img src="../../images/8.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">iNFIX</h5>
                            <p class="card-text">Price:$100</p>
                            <a href="#" class="btn btn-primary">Add</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                          <img src="../../images/9.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Realme 5 pro</h5>
                            <p class="card-text">Price:$300</p>
                            <a href="#" class="btn btn-primary">Add</a>
                          </div>
                        </div>
                  </div>


                  <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                          <img src="../../images/10.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Real me XT</h5>
                            <p class="card-text">Price:$200</p>
                            <a href="#" class="btn btn-primary">Add</a>
                          </div>
                        </div>
                  </div>
              </div><!--row-->

          </div>
        
        
        




